html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content="Resilience Fitness - New York, NY")
        meta(name='author', content='Chris Riewaldt')
		
        title Resilience Fitness | New York, NY
        
        link(rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
        
        //script(src="https://use.fontawesome.com/fa83ed19c7.js")
        
        script(src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous")

        
        link(href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet")
		
        //include customfonts.html
        
        // Theme CSS
        link(href='css/greyscale.css', rel='stylesheet')
        
        
        // contact form
        <link rel="stylesheet" type="text/css" href="contactform/css/main.css">
        
        
    body#page-top
        // Navigation
        nav.navbar.navbar-expand-lg.navbar-light.fixed-top#mainNav
            div.container
                a.navbar-brand.js-scroll-trigger(href="#page-top") ResilienceFitness.net
                button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
                    |  Menu  
                    i.fas.fa-bars
                div.collapse.navbar-collapse#navbarResponsive
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href="#about") About 
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href="#results") My Results 
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href="#contact") Contact 
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href="#assessment") Reviews 
                         
        // Masthead
        header.masthead
            div.container.d-flex.h-100-true.align-items-center#top
                div.mx-auto.text-center
                    img.img-fluid(src="img/resilienceFitnessBlue2.png" alt="")
                    br
                    img.img-fluid(src="img/strongerquote.png" alt="")
                    //h2.text-white-50.mx-auto.mt-2.mb-5
                    
        // About
        section.about-section.text-center#about
            div.container
                div.row
                    div.col-lg-8.mx-auto
                    
                        h2.text-white.mb-4
                            | What is Resilience Fitness?
                            br
                            br
                        h5.text-white-50
                            | Smart and Effective Training
                            br
                            br
                            | Nutritional Guidance and Accountability 
                            br
                            br
                            | A Guide To Bringing Out Your Inner Badass
                            br
                            br
                            br
                            br
                        
                        h5.text-white-50.mb-4
                            | Strength and conditioning training is vital to cultivating a healthy body and mind. There are plenty of reasons you should begin your own physical fitness journey. 
                            | I am here to answer your questions and guide your actions based on your personal goals. Making the decision to start is half the battle!
                        br
                        br
                        
                        //p.text-white-50
                        //    | Health benefts start immediately after exercising, and even short episodes of physical activity are benefcial.
                        
                        a.btn.btn-primary.js-scroll-trigger(href="#results")
                            | do the work
                        br
                        br
                        br
                        br
                            
                img.img-fluid.mx-auto.d-block.kb-img(src="img/kb1.png" alt="")
        div.container
            img.img-fluid.mx-auto.d-block.kb-img(src="img/kb2.png" alt="")
                
        // Projects
        section.projects-section#results
            div.container
                div.row.align-items-center.no-gutters.mb-4.mb-lg-5
                    div.col-lg-12.text-center
                        h5
                            | “Success is not final, failure is not fatal. It is the courage to continue that counts." - Winston Churchill
                        br
                        br
                        br
                        br
                        br
                        br
                        
                    div.col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src="assets/img/paul.jpg" alt="")
                    div.col-xl-4.col-lg-5
                        div.featured-text.text-center.text-lg-left
                            h4
                                | My Results
                            br
                            p.text-black-50.mb-0
                                | Looking better is the least valuable, most inconsequential, and least meaningful change I've experienced. Feeling better... waking up with more energy... 
                                | getting a better nights sleep... having a better mood throughout my entire day... feeling stronger and having more stamina... that's so much more important, and it makes the journey worth it.
                                //| Loving Father - FDNY Fire Marshal - ISSA Certified Trainer - BJJ Blue belt
                                //br
                                //br
                                //| 205lbs. -> 174lbs. No filters here, just a lot of sweat equity and discipline. 💪🏻 You can do it, and I can help you.
                                
                // services offered
                div.row.justify-content-center.no-gutters
                    div.col-lg-6
                        div.bg-black.text-center.h-100-true.project
                            div.d-block
                                img.img-fluid(src="assets/img/project4.jpg" alt="")
                    div.col-lg-6.order-lg-first
                        div.bg-black.text-center.h-100-true.project
                            div.d-flex
                                div.project-text.h-100.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white
                                        | Services Offered
                                    br
                                    p.mb-0.text-white-50
                                        | 1v1 Personal Training
                                        br
                                        | Virtual Coaching
                                        br
                                        | Fat Loss and Muscle Building Programs
                                    
                                    hr.d-none.d-lg-block.mb-0.mr-0
                
                // Project One Row
                div.row.justify-content-center.no-gutters
                    div.col-lg-6
                        div.bg-black.text-center.h-100-true.project
                            div.d-block
                                img.img-fluid(src="assets/img/bg-masthead2.jpg" alt="")
                    div.col-lg-6
                        div.bg-black.text-center.h-100-true.project
                            div.d-flex
                                div.project-text.h-100.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white
                                        | Want to lose weight?
                                    br
                                    p.mb-0.text-white-50
                                        | Great, I can help! I'll make a plan personalized for you, and I'll provide nutritional guidance so that you can reach your goals without sacrificing the foods you love to eat.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                    
                // Project Two Row
                div.row.justify-content-center.no-gutters
                    div.col-lg-6
                        div.bg-black.text-center.h-100-true.project
                            div.d-block 
                                img.img-fluid(src="assets/img/project3.jpg" alt="")
                    div.col-lg-6.order-lg-first
                        div.bg-black.text-center.h-100-true.project
                            div.d-flex
                                div.project-text.h-100.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white
                                        | Want to feel great?
                                    br
                                    p.mb-0.text-white-50
                                        | Exercise is key to staying young and energetic. Becoming stronger will allow you to do the things you love to do for years to come. Looking better makes you feel more confident, raises your self esteem and boosts your mood. 
                                    hr.d-none.d-lg-block.mb-0.mr-0
                                    
                
                // Project One Row
                div.row.justify-content-center.no-gutters.mb-5.mb-lg-0
                    div.col-lg-6
                        div.bg-black.text-center.h-100-true.project
                            div.d-block
                                img.img-fluid(src="assets/img/firemen.jpg" alt="")
                    div.col-lg-6
                        div.bg-black.text-center.h-100-true.project
                            div.d-flex
                                div.project-text.h-100.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white
                                        | Thank You
                                    br
                                    p.mb-0.text-white-50
                                        | I am inspired by the service you provide, the people you help and the communities you support. To show gratitude, I am offering special discounts for active and retired veterans, police officers, firefighters and EMS workers.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                
                div.row.align-items-center.no-gutters.mb-4.mb-lg-5
                    div.col-lg-12.text-center
                        br
                        
                    
                    div.col-xl-6.col-lg-6
                        div.featured-text.text-center.text-lg-center
                            h4
                                | Follow me on social media
                            br
                            p.text-black-50.mb-0
                                | Check out my personal fitness journey on instagram, where you can find exercise and diet tips and more! 
                            br
                            a(href="https://www.instagram.com/_resilience.fitness")
                                h1.mx-2
                                    i.fab.fa-instagram    
                    div.col-xl-6.col-lg-8.text-center
                        a(href="https://www.instagram.com/_resilience.fitness")
                            img.img-fluid.mb-3.mb-lg-0(src="assets/img/paul2.jpg" alt="")
        
        //section.signup-section#signup
        //    div.container
        //        div.row
        //            div.col-md-10.col-lg-8.mx-auto.text-center
        //                //i.far.fa-paper-plane.fa-2x.mb-2.text-white
        //                h2.text-white.mb-5
        //                    | What do some of my clients say about me?
        //                    
        // Reviews
        
        // Signup
        section.signup-section#contact
            div.container
                div.row
                    div.col-md-10.col-lg-8.mx-auto.text-center
                        i.far.fa-envelope-open.fa-2x.mb-2.text-white
                        h2.text-white.mb-5
                            | Interested in Resilience Fitness?
                        form.form-inline.d-flex#emailForm
                            input(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="myName" type="text" placeholder="Your name..." required="true")
                            input(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="myPhone" type="text" placeholder="Your phone number..." required="true")
                            input(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="myEmail" type="email" placeholder="Your email address..." required="true")
                            br
                            br
                            <br>
                            button.btn.btn-primary.mx-auto#submit
                                | Submit
                                
                //div.social.d-flex.justify-content-center 
                //    a.mx-2(href="#!") 
                //        i.fab.fa-instagram 
        
        section.contact-section.bg-black#assessment
            div.container
                div.row
                    div.col-md-12.col-lg-12.mx-auto.text-center
                        //i.far.fa-paper-plane.fa-2x.mb-2.text-white
                        h2.text-white.mb-5
                            | What do some of my clients say about me?
                div.row
                    div.col-md-4.mb-3.mb-md-0
                        div.card.py-4
                            div.card-body.text-center
                                //i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0
                                    | Jenna
                                hr.my-4
                                div.small.text-black-50
                                    | This was pretty dope, I am now a badass
                    div.col-md-4.mb-3.mb-md-0
                        div.card.py-4
                            div.card-body.text-center
                                //i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0
                                    | Bryan
                                hr.my-4
                                div.small.text-black-50
                                    | I have found and conquered my inner bitch, thanks Paul   
                    div.col-md-4.mb-3.mb-md-0
                        div.card.py-4
                            div.card-body.text-center
                                //i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0
                                    | Rebecca
                                hr.my-4
                                div.small.text-black-50
                                    | Paul helped me with a diet and exercise plan thats helped me lose weight and gain a lot of self confidence, and strength too! Thanks!
                br
                br
                br
        
        
      
        footer.footer.bg-black.small.text-center.text-white-50
            div.container
                | Copyright © ResilienceFitness.net 2020 = Website made by 
                a(href="http://www.chrisriewaldt.com")
                    | ChrisR
        
        // Bootstrap core JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js")
        // Third party plugin JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js")
        // Core theme JS
        script(src="js/scripts.js")

        
        //main js
        script(src="js/mainJS.js")
        