html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content="Resilience Fitness - New York, NY")
        meta(name='author', content='Chris Riewaldt')
		
        title Resilience Fitness | New York, NY
        
        link(rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
        
        //script(src="https://use.fontawesome.com/fa83ed19c7.js")
        
        script(src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous")

        
        link(href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet")
		
        //include customfonts.html
        
        // Theme CSS
        link(href='css/greyscale.css', rel='stylesheet')
        
        
        // contact form
        <link rel="stylesheet" type="text/css" href="contactform/css/main.css">
        
        
    body#page-top
        // Navigation
        nav.navbar.navbar-expand-lg.navbar-light.fixed-top#mainNav
            div.container
                a.navbar-brand.js-scroll-trigger(href="#page-top") ResilienceFitness.net
                button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
                    |  Menu  
                    i.fas.fa-bars
                div.collapse.navbar-collapse#navbarResponsive
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href="#about") Character  
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href="#projects") Strength  
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href="#contact") Assessment  
        // Masthead
        header.masthead
            div.container.d-flex.h-100.align-items-center
                div.mx-auto.text-center
                    img.img-fluid(src="img/resilienceFitnessBlue.png" alt="")
                    //h1.mx-auto.my-0.text-uppercase
                    //    | Resilience Fitness
                    h2.text-white-50.mx-auto.mt-2.mb-5
                        | Life doesn’t get easier or more forgiving.
                        br
                        | We get stronger and more resilient.
                    
        // About
        section.about-section.text-center#about
            div.container
                div.row
                    div.col-lg-8.mx-auto
                        h5.text-white-50.mb-4
                            | Being physically active is one of the most important actions that people of all ages can take to improve their
                            |    health. Physical activity fosters normal growth and development and can make people feel better, function
                            |    better, sleep better, and reduce the risk of a large number of chronic diseases.
                        br
                        br
                        
                        //p.text-white-50
                        //    | Health benefts start immediately after exercising, and even short episodes of physical activity are benefcial.
                        h2.text-white.mb-4
                            | What is Resilience Fitness?
                            br
                            br
                        h5.text-white-50
                            | Smart and Effective Training
                            br
                            br
                            | Personalized Nutrition So You Can Achieve Your Goals
                            br
                            br
                            | A Guide To Bringing Out Your Inner Badass
                            br
                            br
                            br
                            br
                            a.btn.btn-primary.js-scroll-trigger(href="#projects")
                                | Do the work
                            br
                            br
                            br
                            br
                img.img-fluid(src="img/kettlebellBW.png" alt="")
                
        // Projects
        section.projects-section.bg-light#projects
            div.container
                // Featured Project Row
                div.row.align-items-center.no-gutters.mb-4.mb-lg-5
                    div.col-12.text-center
                        p.text
                            | “Success is not final, failure is not fatal. It is the courage to continue that counts." - Winston Churchill
                        br
                        br
                        
                    div.col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src="assets/img/paul.jpg" alt="")
                    div.col-xl-4.col-lg-5
                        div.featured-text.text-center.text-lg-left
                            h4
                                | My Results
                            br
                            p.text-black-50.mb-0
                                | Looking better is the least valuable, most inconsequential, and least meaningful change I've experienced. Feeling better... waking up with more energy... 
                                | getting a better nights sleep... having a better mood throughout my entire day... feeling stronger and having more stamina... that's so much more important, and it makes the journey worth it.
                                //| Loving Father - FDNY Fire Marshal - ISSA Certified Trainer - BJJ Blue belt
                                //br
                                //br
                                //| 205lbs. -> 174lbs. No filters here, just a lot of sweat equity and discipline. 💪🏻 You can do it, and I can help you.
                                
                // Project One Row
                div.row.justify-content-center.no-gutters.mb-5.mb-lg-0
                    div.col-lg-6
                        img.img-fluid(src="assets/img/bg-masthead2.jpg" alt="")
                    div.col-lg-6
                        div.bg-black.text-center.h-100.project
                            div.d-flex.h-100
                                div.project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white
                                        | Want to lose weight?
                                    p.mb-0.text-white-50
                                        | Great, I can help! I'll make a plan personalized for you, and I'll provide nutritional guidance so that you can reach your goals without sacrificing the foods you love to eat.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                    
                // Project Two Row
                div.row.justify-content-center.no-gutters
                    div.col-lg-6
                        img.img-fluid(src="img/fighterJet.jpg" alt="")
                    div.col-lg-6.order-lg-first
                        div.bg-black.text-center.h-100.project
                            div.d-flex.h-100
                                div.project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white
                                        | Thank You
                                    p.mb-0.text-white-50
                                        | I am inspired by the service you provide, the people you help and the communities you support. To show gratitude, Resilience Fitness is offering special discounts for military and civil servants.
                                    hr.d-none.d-lg-block.mb-0.mr-0

        
        section.signup-section#signup
            div.container
                div.row
                    div.col-md-10.col-lg-8.mx-auto.text-center
                        //i.far.fa-paper-plane.fa-2x.mb-2.text-white
                        h2.text-white.mb-5
                            | What do some of my clients say about me?
                            
        // Reviews
        section.contact-section.bg-black#reviews
            div.container
                div.row
                    div.col-md-4.mb-3.mb-md-0
                        div.card.py-4.h-100
                            div.card-body.text-center
                                //i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0
                                    | Jenna
                                hr.my-4
                                div.small.text-black-50
                                    | This was pretty dope, I am now a badass
                    div.col-md-4.mb-3.mb-md-0
                        div.card.py-4.h-100
                            div.card-body.text-center
                                //i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0
                                    | Bryan
                                hr.my-4
                                div.small.text-black-50
                                    | I have found and conquered my inner bitch, thanks Paul   
                    div.col-md-4.mb-3.mb-md-0
                        div.card.py-4.h-100
                            div.card-body.text-center
                                //i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0
                                    | Rebecca
                                hr.my-4
                                div.small.text-black-50
                                    | Paul helped me with a diet and exercise plan thats helped me lose weight and gain a lot of self confidence, and strength too! Thanks!
        
        // Signup
        section(class="signup-section" id="signup")
            div(class="container")
                div(class="row")
                    div(class="col-md-10 col-lg-8 mx-auto text-center")
                        i(class="far fa-envelope-open fa-2x mb-2 text-white")
                        h2(class="text-white mb-5")
                            | Interested in Resilience Fitness?
                        form(class="form-inline d-flex")
                            input(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="myName" type="text" placeholder="Your name...")
                            input(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="myPhone" type="text" placeholder="Your phone number...")
                            input(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="myEmail" type="email" placeholder="Your email address...")
                            button(class="btn btn-primary mx-auto" id="submit" placeholder="")
                                | Submit
                                
                div.social.d-flex.justify-content-center 
                    a.mx-2(href="#!") 
                        i.fab.fa-instagram 
      
        footer.footer.bg-black.small.text-center.text-white-50
            div.container
                | Copyright © ResilienceFitness.net 2020
        
        // Bootstrap core JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js")
        // Third party plugin JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js")
        // Core theme JS
        //script(src="js/scripts.js")

        
        //main js
        script(src="js/mainJS.js")
        